.card
{
  width: 360px;
  height: 200px;
  border:  1px solid black;
  border-radius:  10px;
  box-shadow: 2px 2px 5px black;
  font-family: sans-serif;
}

.card .card-title
{
    text-align: center;
}

.card .card-content
{
    margin-top: 15px;
    margin-bottom: 15px;
}

.card .card-content label
{
    margin-right: 15px;
    margin-left: 5px;
}


.card .card-button-content
{
    text-align: center;
}

.btn
{
    width: 30%;
    height: 30%;
    font-size: 1.2em;
    font-family: sans-serif;
}

.btn-success
{
    background-color: #7878de;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px black;
}

.btn-success:hover
{
    background-color: #7171ac;
}

.salary-table
{
    border: 1px solid black;
    width: 400px;
    height: 350px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    font-family: sans-serif;
}

.salary-table th
{
    border-bottom: 1px solid black;
    padding: 0;
}

.salary-table td
{
    border-bottom: 1px solid black;
    padding: 0;
}